
body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    padding: 20px;
}

header {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 40px;
}

section {
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: white;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #333;
    color: white;
}


ul {
    list-style-type: none;
    border: 1px solid #555;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    width: 100%;
    }

    li{  float: left;
        text-align: center;
    }

    li a{
        text-decoration: none;
        display: block;
        padding: 8px 16px;
        background-color: #dddddd;
        color: #000;
        border-right: 1px solid #555;
        border-bottom: 1px solid #555;
    }
    li:last-child {
        border-right: none;
        border-bottom: none;
    }

    /* Change the link color on hover */
    li a:hover {
    background-color: #555;
    color: white;

    .active {
    background-color: #04AA6D;
    color: white;
    }
    }