
body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    padding: 20px;
}

header {
    text-align: center;
    background-color: #004fff;
    color: white;
    padding: 40px;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    transition: box-shadow 0.3s ease-in-out;
}

section:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h2 {
    color: #004fff;
    border-bottom: 2px solid #004fff;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-size: 1.5em;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #004fff;
    color: white;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #004fff;
    color: white;
}


ul {
    list-style-type: none;
    border: 1px solid #555;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    width: 100%;
    }

    li{  float: left;
        text-align: center;
    }

    li a{
        text-decoration: none;
        display: block;
        padding: 8px 16px;
        background-color: #dddddd;
        color: #000;
        border-right: 1px solid #555;
        border-bottom: 1px solid #555;
    }
    li:last-child {
        border-right: none;
        border-bottom: none;
    }

    /* Change the link color on hover */
    li a:hover {
    background-color: #555;
    color: white;

    .active {
    background-color: #04AA6D;
    color: white;
    }
    }